body{
    background-color: #11151C;
    color: #CDCFCD;
}
h1{
    font-family:'Quattrocento', serif;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 0.12em;
}
p{
    font-family: 'Fanwood Text', serif;
    font-size: 100%;
    text-align: center;
    letter-spacing: 0.12em;  
}
/* DROPDOWN MENU */
.menuSymbol{
    height: 2em;
    width: 2em;
    padding: 2%
}
.mainMenu{
    position: relative;
    float: left;
}
.dropdownMenu{
    display: none;
    background-color: rgba(17, 21, 28, 0.6);
    min-width:10%;
    z-index: 1;
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 200%;
    letter-spacing: 0.12em;
    color: #CDCFCD;
    padding-right: 150%;
}
.dropdownMenu a:hover{
    background-color:  rgba(125, 78, 87, 0.6);
}
.mainMenu:hover .dropdownMenu{
    display: block;
}

.mainMenu:hover .menuSymbol{
    background-color: transparent;
}


/* START SCREEN */
#start{
    display: flex;
    background-image: url('https://i.ibb.co/qRTgXrV/fondoinicio.png');
    text-align: center;
    height: 250%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 6%;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 15%;
}
#Start h1 {
    font-family:'Quattrocento', serif;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 0.12em;
    color: #CDCFCD;
    flex-wrap: nowrap;
}
.startLogo{
    width: 60%;
}
#Start p {
    font-family: 'Fanwood Text', serif;
    font-size: 100%;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #DDFFDD;
}
.startBtn{
    background: #57A879;
    color: #CDCFCD;
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 30%;
    letter-spacing: 0.12em;
    border-color: #57A879;
    border: none;
    border-radius: 8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    flex-wrap: wrap;
}
.startBtn:hover{
    background: #7D4E57;
}
/* ABOUT SCREEN */
#about{
    display: flex;
    background-image: url('https://files.slack.com/files-pri/T0NNB6T0R-FRH425680/2.png');
    text-align: right;
    padding-top: 6%;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 15%;
}

/* CHARACTERS SCREEN */
#characters{
    display: flex;
}

/* SORTING HAT SCREEN */
#sortingHat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 15%;
}
#sortingHat button{
    background-color: transparent;
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 31px;
    letter-spacing: 0.12em;
    color: #CDCFCD;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.sortingLogo{
    width: 20%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}



/* GRYFFINDOR SCREEN */
#gryffindor{
    display: flex;
    background-color: #7D0E0E;
}

/* SLYTHERIN SCREEN */
#slytherin{
    display: flex;
    background-color: #113A1A;
}

/* RAVENCLAW SCREEN */
#ravenclaw{
    display: flex;
    background-color: #272D4D;
}

/* HUFFLEPUFF SCREEN */
#hufflepuff{
    display: flex;
    background-color: #BF9119;
}

/* Character cards */
.harryPhotos{
    margin: 20px 0 0 0;
    width: 170px;
    height: 210px;
    padding: 0% 10% 0% 0%;    
}

#potterCards h1{
    font-family: 'Quattrocento', serif;
    letter-spacing: .4em;
    font-size: 150%;
    color: #7d4e57;
    text-align: center;
}
#potterCards{
    height: auto;
    padding: 2em;
    font-family: 'Fanwood';;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.characterBox{
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    /*padding-bottom: 1em;*/
    text-align: center;
    min-width: 300px;
    max-width: 350px;
}
.characterBox p{
    font-size: 90%
}

.housesCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}


.noResults{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.results{
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

